.blockquote {
  padding-left: 20px;
  padding: 10px 0px 10px 20px;
  border-left: 5px solid rgb(3, 106, 171);
  /* border-top: 5px solid rgb(3, 106, 171); */
  /* border-bottom: 5px solid rgb(3, 106, 171); */
  font-style:italic;
  font-weight: bolder;

}

.articleLink {
  /* font-size: .8rem; */
  font-style: italic;
  margin-top: 0px;
}


.byLine {
  display: inline-block;
}

.date {
  display: inline-block;
}

.headline {
  margin-bottom: 0px;
  font-variant: small-caps;
}


.introFirst::first-letter {
  font-size: 525%;
  float: left;
  line-height: 70px;
  padding-right: 5px;
  padding-top: 2px;


}

.linesplit {
  text-align: center;
}

.allIntroHeader {
  text-align: center;
}
