.footer {
  clear:both;
  text-align: center;
}

.footerList {
  padding-left: 0px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.footerList > * {
  display: inline;
  padding-right: 10px;
  text-decoration: none;
}


.navLink {
  margin-right: 0px;
}

.linesplit {
  text-align: center;
}
.iconLink {
  width: 25px;
  height: 25px;
  margin: 10px 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;


}
.iconLink:hover {
  border-bottom: 2px solid black;
}

.siteHeaderAlexKlavens {
  /* font-variant: small-caps; */
}

.designedDeveloped {
  margin-top: 0px;
}
