.column {
  float: left;
  width: 33.33%;
  /* padding: 10px; */
  /* padding: 10px; */

}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.skillList {
  list-style: none;
  padding-left: 0px;
  /* display: block; */
}


.listItem {
  display: inline-block;
  margin: 5px 0;
  margin-right: 10px;
  padding: 2px 10px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  font-family: 'Overpass Mono';
  border: 1px solid black;
  border-radius: 1px;
  font-size: .8rem;

}

.skillItemTitle {
  font-size: 1.3rem;
  /* display: block; */
}


.resumeSectionHeader {
  margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {

  .resumeSectionHeader {
    padding-bottom: 10px;
    /* border-bottom: 1px solid black; */
  }

  .skillsMain {
    text-align: center;
  }

}
